@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold text-dark leading-normal md:leading-loose;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold text-dark leading-normal md:leading-relaxed;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-3xl font-semibold text-dark leading-normal;
  }
  h4 {
    @apply text-5xl lg:text-2xl font-medium text-dark leading-normal;
  }
  p {
    @apply text-base;
  }
  section {
  }
  .btn {
    @apply px-6 py-3 focus:outline-none;
  }
  .btn-primary {
  }
  .btn-secondary {
  }
  .card {
  }
}

/* custom classes */
.my-container {
  @apply w-full py-14 mx-auto px-10;
}

@media (min-width: 576px) {
  .my-container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .my-container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .my-container {
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .my-container {
    max-width: 1170px !important;
  }
  .userImg {
    display: block;
  }
}
@media (min-width: 1400px) {
  .my-container {
    max-width: 1320px !important;
  }
}
